.bodyHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .bodyHeader__left{
        display: flex;
        align-items: center;
        background-color: #fff;
        color: #808080;
        border-radius: 30px;
        padding: 10px;
        flex: 0.5;
        min-width: 70px;
        input{
            outline: 0;
            border: 0;
            width: 100%;
        }
    }
    .bodyHeader__right{
        display: flex;
        align-items: center;
        h4{
            margin-left: 10px;
        }
    }
}